RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m'

# General aliases
alias vim='nvim'
alias sudo='sudo '

# Manage dotfiles
alias dotfiles='git --git-dir=$HOME/.dotfiles --work-tree=$HOME'

# Docker aliases
alias dkils='docker image ls --format "table {{.ID}}\t{{.Repository}}\t{{.Tag}}" | (sed -u 1q; sort -k2)'
alias dkcls='docker container ls --format "table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.State}}" | (sed -u 1q; sort -k2)'

# Culture development
alias develop='[ -f develop ] && ./develop'
alias devel='develop'
alias 3pcompass='javaws /opt/3p-compass/compass.jnlp'

# Hylo development
alias hylo='[ -f ~/.local/bin/hylo.sh ] && ~/.local/bin/hylo.sh'

browserstack_local() {
  if [[ -z "$BROWSERSTACK_ACCESS_KEY" ]]; then
	echo "${RED}BROWSERSTACK_ACCESS_KEY is not set.${NC}"
	return 1
  fi

  /opt/browserstack/BrowserStackLocal --key "$BROWSERSTACK_ACCESS_KEY"
}

tmuxinit() {
  local file=$(find . -type f -name "tmuxinit.sh" -print -quit)

  if [[ -n $file ]]; then
    echo "${GREEN}Executing $file${NC}"
    # Execute the file
    source "$file"
  else
    echo "${RED}tmuxinit.sh not found in the current directory or its subdirectories.${NC}"
  fi
}

